@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
:root {
    --black: #000;
    --white:#fff;
    --gray-light: rgb(161, 158, 158);
    --red-first:#DB4444;
    --red-second:#ac3737;
}

html, body {
    height: 100%;
}
.header-top{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: var(--black);
    display: flex;
    color: #FAFAFA;
    font-size: 14px; 
    justify-content: center;
    align-items: center   
}

.header-top a{
    text-decoration: none; 
    color:inherit;
}
.header-top span{
    color: var(--gray-light);
  
}
.header-top .singUp, .home{
  cursor: pointer;
  position: absolute;
  right: 0;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all .2s ease;
  &:hover{
    background-color: var(--white);
    color: var(--black);
    font-weight: 500;
  }
}


.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh; 
    color:white;
    
   
}
.box{
    display: flex;
    width: 300px;
    height:370px;
    background-color: var(--red-first);
    border-radius: 5px;
    padding:30px;
    box-shadow: 0px 4px 8px 0px rgba(255, 0, 0, 0.75);
}
.title{
    width: 100%;
   text-align: center;
   font-size: 24px;
   font-weight: 500;
}

.login{
    width: 100%;
    margin-top:20px;
    gap:2px;
    display: flex;
    justify-content: center;
    
}
.login label{
    font-size: 16px;
    font-weight: 500;
}

.login input,label,.button,.singIn,span{
    margin:0 auto;
    padding:2px;
    width: 250px;
    outline: none;
}
.login input{
    border:3px solid var(--white);
    border-radius:5px;
    box-shadow: 0px 4px 8px 0px rgba(255, 0, 0, 0.75);
    padding:2px 5px 2px 10px;
    
}


.login .button{
    margin-top:30px;
    margin-bottom:10px;
    border:none;
    padding:5px;
    border-radius:5px;
    color:#000;
    font-weight: 500;
    background-color: white;
    transition: all .1s ease;
    &:hover{
        background-color: #ac3737;
    color:white;    }
}

.login a{
    cursor: pointer;
    text-decoration: none;
    color:inherit;
}